.row.content {
	height: 1500px
}
    
.sidenav {
	background-color: 	#f1f1f1;
	height: 			100%;
	width: 				225px;
}

.tree {
	display:			none;
}

footer {
	background-color: 	#555;
	color: 				white;
	padding: 			015px;
}