<template name="mainLayout">

{{ afterLoad }}

<style>
.colorb {
background-color:#006ab3;
}

</style>
<div class="container-fluid">
	<div class="well">
		<h1 align="center">Test Title</h1>
		<p align="center">Here is where text will go!</p>
	</div>
	<div class="container-fixed">
		<div class="row content">
			<div class="col-sm-2 sidenav">
				<h3>Menu</h3>

				<ul class="nav nav-pill nav-stacked">
					<li class="{{ isActivePath '' }}">
						<a href="{{ pathFor 'home' }}">
							<span>
								<i class="fa fa-home"></i>
								<label>Home</label>
							</span>
						</a>
					</li>

					<li class="tree-toggle-comm">
						<a href="">
							<i class="fa fa-weixin"></i>
							<label>Communication</label>
						</a>

						<ul class="nav nav-list tree" id="communictationTree">
							<li style="margin-left: 015px">
								<a href="">
									<i class="fa fa-angle-right"></i>
									Option 01
								</a>
							</li>

							<li style="margin-left: 015px">
								<a href="">
									<i class="fa fa-angle-right"></i>
									Option 02
								</a>
							</li>
						</ul>
					</li>

					<li class="tree-toggle-train">
						<a href="">
							<i class="fa fa-tachometer"></i>
							<label>Training</label>
						</a>

						<ul class="nav nav-list tree" id="trainingTree">

							{{ #if isAdmin 'training' }}
							<li class="{{ isActivePath 'Training Admin' }}" style="margin-left: 015px">
								<a href="{{ pathFor 'Training Admin' }}">
									<i class="fa fa-angle-right"></i>
									Administration
								</a>
							</li>
							{{ /if }}

							<li class="{{ isActivePath 'User Training' }}" style="margin-left: 015px">
								<a href="{{ pathFor 'User Training' }}user/{{ userID }}">
									<i class="fa fa-angle-right"></i>
									My Training
								</a>
							</li>

							<li style="margin-left: 015px">
								<a href="">
									<i class="fa fa-angle-right"></i>
									My Employees
								</a>
							</li>

						</ul>
					</li>
				</ul>
				<br>

				{{ > loginButton }}
			</div>

			<div class="col-sm-10">
				{{ > yield }}
			</div>

		</div>
	</div>
<div class="navbar navbar-inverse navbar-fixed-bottom colorb" role="navigation">
	<div class="container">
		<div class="navbar-text pull-left">
			Copyright &copy; 2015 D & A.
		</div>
	</div>
</div>
	<!-- Include each of the primary login and registration forms. They are 
		included in the mainLayout file to ensure that they are available 
		regardless of where the user enters the application. -->
	{{ > _loginModal }}
	{{ > _registerModal }}
	{{ > _editUserModal }}

</div>

</template>