.navbar{
	width: 				100%;
}

.navbar-sidebar{

	border:				000px;
	width:				230px;

	background-color: 	#f1f1f1;
}

.navbar-sidebar h2{
	padding: 			000px;
	padding-top:		010px;
	padding-bottom:		010px;

	margin: 			000px auto;

	text-align: 		center;
}

.connected{
	color:				#000;
	font-weight:		normal;
}

.disconnected{
	color:				#F00;
	font-weight: 		bolder;
}

.navbar .container{
	padding: 			000px;
	padding-top:		010px;

	width:				95%;
}

.navbar-left{
	padding:			000px;
	padding-left:		010px;

	float:				left;
	text-align:			left;
}

.navbar-right{
	padding: 			000px;

	float:				right;
	text-align:			right;
}