<template name="_loginModal">

	<div id="_loginDialog" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">

			<div class="modal-content alert-primary">
				<div class="modal-header ">
					<button class="close pull-right" data-target="#_loginDialog" type="button"  data-toggle="modal" >&times;</button>
					<center>
						<h3 class="modal-title"> User Log-In </h3>
					</center>
				</div>

				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="loginEmail">Email:</label>
							<input class="form-control" id="loginEmail" type="email">
						</div>
						<div class="form-group">
							<label for="loginPassword">Password:</label>
							<input class="form-control" id="loginPassword" type="password">
						</div>
						<center>
							<input class="btn btn-sm btn-block btn-primary" id="loginSubmit" type="submit" value="Login">
							<br>
							<input class="btn btn-sm btn-block btn-warning" data-target="#_registerDialog" data-toggle="modal" id="loginRegister" value="Register">
						</center>
					</form>
				</div>

			</div>

		</div>
	</div>

</template>