<template name="trainingAdmin">

<div class="row">
	<div class="col-sm-12">
		<div class="navbar navbar-default training-navbar">
			<div class="btn-group pull-left">
				<button class="btn {{ buttonState 'Requirements' }} taSelection">
					Requirements
				</button>
				<button class="btn {{ buttonState 'Packages' }} taSelection">
					Packages
				</button>
			</div>

			<div class="btn-group pull-right">
				{{ #if showPackages }}
				<button class="btn btn-default createPackage">
					Create Package
				</button>
				{{ else }}
				<button class="btn btn-default createRequirement" data-target="#_createTrainingRequirementDialog" data-toggle="modal">
					Create Requirement
				</button>
				{{ /if }}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">

		{{ #if showPackages }}

			{{ > showTrainingPackages }}

		{{ else }}

			{{ #each requirements }}
			<div class="col-sm-12">
		
			<div class="panel-group" id="accordion">

				<div class="panel panel-default">
					<div class="panel-heading" data-parent="#accordion" data-target="#{{ _id }}" data-toggle="collapse">
						{{ name }}
					</div>

					<div class="panel-body panel-collapse collapse" id="{{ _id }}">
						{{ description }}
					</div>
				</div>

			</div>

			</div>
			{{ /each }}

		{{ /if }}
	</div>
</div>

{{ > _createTrainingRequirement }}

</template>