<template name="training">

	{{ #if userLoggedIn }}
		<!-- This is where the training content will be housed. It has been 
		coded into this IF statement to ensure that only personnel who have 
		successfully logged in can view it. -->

		<div class="row">
			<div class="col-sm-4" style="overflow: auto;">
				<div class="panel panel-success">
				<div class="panel-heading">
				<b>GPA</b>
				<i class="float-right">
				{{ GPA }}
				</i>
				</div>
				</div>
				<div class="panel panel-success">
				<div class="panel-heading">
				<b> Completed Courses </b>
				</div>
				</div>
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<td class="col-sm-3">
							Semester
						</td>
						<td class="col-sm-3">
							Course
						</td>
						<td class="col-sm-2">
							Units
						</td>
						<td class="col-sm-2">
							Grade
						</td>
						<td class="col-sm-2">
							X-Fer
						</td>
					</thead>
					{{ #each trainingActions }}
					<tr>
						<td>{{ semester }}</td>
						<td>{{ course }}</td>
						<td>{{ credits }}</td>
						<td>{{ grade }}</td>
						<td>{{ transfer }}</td>
					</tr>
					{{ /each}}
				</table>
			</div>
			<div class="col-sm-8">
				<!--
				<div class="col-sm-12">
					{{ > searchable }}
				</div>
				-->
				<div class="col-sm-12">
					<div class="ct-chart ct-perfect-fourth">
						{{ createChart }}
					</div>
				</div>
			</div>
		</div>
	{{ else }}
		<!-- The current user is NOT logged in. Do not let them see any of the 
		privileged data. Inform them of the issue. -->
		{{ > noViewForYou }}
	{{ /if }}

</template>